.background {
    background-image: url("../images/background.jpg"); /* The image used */
   /* background-color: #cccccc;  Used if the image is unavailable */
    height: 500px; /* You must set a specified height */
    background-position: center; /* Center the image */
    background-repeat: repeat; /* Do not repeat the image */
    background-size: cover;
}

table {
    text-align: center;
    margin: 10px auto;
    width: 90%;
}

table td {
    max-width: 100px;
}

h4 {
    text-align: center;
}

hr {
    margin: 20px 0;
}



.text-center{
    text-align: center;
}
.text-right{
    text-align: right;
}

.flex-container {
    display: flex;
    align-content: space-between;
}

.flex-container a {
    color:white;
    flex:1;
}

/* .m-t-1{
    margin-top:20px;
} */
.m-t-1{
    margin-top:80px;
}
.m-b-4 {
    margin-bottom: 70px;
}
.m-t-4 {
    margin-top: 30px;
}

.red {
    background-color: red;
}

a {
  text-decoration: none;
}

nav ul li a {
    color: white !important;
}

.border {
    border: 1px solid blue;
}


.row-height {
    height:65px;
}

a.dropdown-item:hover { background-color: #a1a19d }

.dmc-background-image {
  background-image: url("../images/wires_template.png");
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover;
  height: 1767px; /* You must set a specified height */
  

}

.roll_no_slip td {
    word-wrap: break-word;
    border: 1px black solid;
}

.card-text {
  text-align: center;
}
@media print {

    body {
        background-color: red;
    }
    .same-page {
      break-inside: avoid;
    }
    .table-bordered td, .table-bordered th {
        border: 2px solid black !important;
  }

  .no-print, .no-print *
    {
        display: none !important;
    }

    .print-center {
    display:table !important;
    width:90%;
    margin-left:3%;
    }

    .separate_page {
      page-break-after: always;
    }


  }

